.about-wrap {
  width: 100%;
  min-height: 800px;
  background: radial-gradient(at 25% top, #32112c 10%, #0a1526 70%);
  background-size: cover;
}

.about {
  text-align: center;
}

.about__title {
  font-weight: 700;
  font-size: 160px;
  color: #fff;
  padding: 160px 0 0;
}

.about__bg-img {
  height: 400px;
  background: url(../../../public/src/img/dedpul-bg.png);
  background-size: cover;
  margin: -120px 0 50px;
  position: relative;
}

.about__subtitle {
  font-weight: 600;
  font-size: 60px;
  color: #fff;
}

.about__text {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  max-width: 1000px;
  padding: 50px 15px;
}

.about__advantage {
  font-weight: 600;
  font-size: 48px;
  color: #fff;
}

.about__advantage-menu {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  text-align: start;
  padding: 50px 0 30px 30px;
}

.about__advantage-menu li {
  font-size: 24px;
  color: #fff;
  list-style: unset;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .about__title {
    font-weight: 600;
    font-size: 120px;
    padding: 100px 0 0;
  }

  .about__bg-img {
    margin: 0 0 50px;
  }
}

@media (max-width: 500px) {
  .about__title {
    font-size: 80px;
    padding: 60px 0 0;
  }

  .about__bg-img {
    margin: 0 0 30px;
  }

  .about__subtitle {
    font-size: 48px;
  }

  .about__text {
    padding: 30px 15px;
  }

  .about__advantage {
    font-size: 36px;
  }

  .about__advantage-menu {
    gap: 20px;
    padding: 30px 0 20px 30px;
  }
}