.movie-item {
  display: flex;
  min-height: 900px;
  background: #25295a;
  justify-content: center;
  margin: 0 auto;
  padding: 200px 20px;
}

.movie__img img {
  width: 380px;
  height: 500px;
  padding: 0 40px 0 0;
}

.movie__content {
  display: flex;
  flex-direction: column;
}

.movie__title {
  font-size: 36px;
  color: #fff;
  padding: 20px 0;
}

.movie__genre {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 24px;
}

.movie__genre li {
  color: #84e5e5;
}

.movie__popular {
  font-size: 24px;
  color: #d9d9d9;
  padding: 30px 0 30px;
}

.movie__date {
  font-size: 24px;
  color: #d6aeae;
}

.movie__overviev {
  max-width: 500px;
  padding: 40px 0 10px;
  font-size: 24px;
  color: #d5d5b6;
}

.movie__go-back {
  font-size: 30px;
  color: #fff;
  width: 120px;
  height: 40px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0 10px 50px;
}

.movie__go-back:hover {
  color: red;
  background: black;
}

@media (max-width: 800px) {
  .movie-item {
    min-height: 700px;
    padding: 80px 0;
  }
}

@media (max-width: 800px) and (max-width: 650px) {
  .movie-item {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0;
  }

  .movie__img img {
    padding: 0 20px;
  }

  .movie__content {
    align-items: center;
    text-align: center;
  }

  .movie__title {
    padding: 20px 0;
  }

  .movie__genre {
    text-align: center;
  }

  .movie__popular {
    padding: 20px 0 20px;
  }

  .movie__overviev {
    padding: 20px 20px 10px;
  }

  .movie__go-back {
    margin: 50px 0 10px;
  }
}