.first-screen{
    position: relative;
    min-height: 489px;
    margin-top: 100px;
    .content{
        &__title{
max-width: 601px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 110%;
color: #212353;
        }
        &__text{
            max-width: 370px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            color: #4B5D68;
            padding: 50px 0;
        }
        &__button{
width: 210px;
height: 60px;
background: #9C69E2;
border: 1px solid #9C69E2;
box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
border-radius: 50px;
cursor: url(../img/cursor.svg),pointer;
transition: all 1s ease;
        }
        &__button a{
        font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #FFFFFF;
cursor: url(../../src/img/cursor.svg),pointer;
        }
         &__button:hover{
     background: #8A40EE;
     
        }
        &__img{
            position: absolute;
            right: 15px;
            bottom: 0;   
        }
    }
}
@media(max-width: 1140px){
    .first-screen{ 
        margin-top: 50px; 
        align-items: center;
        .content{
            &__title{
            margin: 0 auto;
            text-align: center;
            }
            &__text{
                max-width: 600px;
                width: 100%;
                text-align: center;
                margin: 0 auto;
            }
            &__button{
                margin: 0 0 20px 0px
            }
            &__img{
                position: relative;
              display: flex;
              justify-content: center;
              img{
                width: 100%;
              }
            }
          }
      }
}   
@media(max-width: 768px){
    .first-screen{ 
        margin-top: 30px; 
      .content{
          &__title{
        font-size: 48px;
          }
          &__text{
              font-size: 20px;
              padding: 30px 0;
          }
        }
    }
}
@media(max-width: 470px){
    .first-screen{ 
      .content{
          &__title{
        font-size: 36px;
          }
          &__text{
              font-size: 18px;
          }
        }
    }
}
.about{
    margin-top: 100px;
    position: relative;
    &__wrapp{
        background: #FDE8F5;
        border-radius: 50px;
     display: flex;
     justify-content: space-between;   
    }
    &__img{
        padding: 75px 0 75px 70px;
        img{
            width: 100%;
        }
    }
    .content{
    &__title{
        font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
color: #212353;
max-width: 500px;
min-height: 100px;
padding: 110px 70px 40px 0;
    }
    &__text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #4B5D68;
max-width: 500px;
padding: 0 70px 0 0;
    }
}
}
@media(max-width: 980px){
 .about{
    margin-top: 60px;
    &__wrapp{
     display: flex;
     flex-direction: column-reverse; 
     align-items: center;
    }
    &__img{
      padding: 10px 15px;
    }
    .content{
    &__title{
text-align: center;
padding: 30px 15px;
    }
    &__text{
    text-align: center;
font-size: 22px;
padding: 0px 10px;
    }
}
}
}
@media(max-width: 768px){
 .about{
    margin-top: 30px;
    .content{
    &__title{
font-weight: 600;
font-size: 36px;
    }
    &__text{
font-size: 20px;
width: 100%;
color: black;
    }
}
}
}
@media(max-width: 460px){
.about{
   margin-top: 15px;
    .content{
    &__title{
font-size: 30px;
    }
    &__text{
    display: block;
font-size: 20px;
color: black;
    }
}
}
}
.features{
 .heading{
 &__title{
 font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
text-align: center;
color: #212353;
padding: 120px 0 50px;
 }
 &__text{
 font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
text-align: center;
color: #4B5D68;
padding-bottom: 80px;
max-width: 528px;
    margin: 0 auto;
 }
 }
 &__cards{
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2 1fr);
    column-gap: 30px;
    row-gap: 50px;
    .cards{
        &__card{
            display: flex;
            justify-content: end;
            position: relative;
     .card{
        &__search{
        background: #F0FAF9;
        }
        &__hours{
        background: #F6F0FD;
        }
        &__print{
        background: #FEF0F8;
        }
        &__security{
        background: #EAF6FC;
        }
        &__content{
     max-width: 400px;
     border-radius: 50px;
     display: flex;
     flex-direction: column;
     padding: 0 70px 0 100px;
        }
         &__title{
        font-family: 'Work Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 130%;
     align-items: center;
     color: #212353;
     padding: 62px 0 20px;
     z-index: 3;
        }
        &__text{
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 160%;
     color: #4B5D68;
     max-width: 230px;
     min-height: 180px;
     z-index: 3;
        }
        &__link {
     padding: 20px 0 62px;
     z-index: 3;
        }
        &__link a{
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 700;
         font-size: 16px;
         line-height: 160%;
         letter-spacing: 0.005em;
         color: #212353;
         cursor: url(../img/cursor.svg),pointer;
        }
        &__svg{
          padding-left: 20px;
        }
        &__img{
        position: absolute;
        left: 0;
        margin: 110px 0;
        }
        &__elipse1{
         z-index: 2;
         position: absolute;
         right: 120px;
         top: 70px;
        }
        &__vector1{
        z-index: 2;
        position: absolute;
     right: 37px;
     top: 30px;
        }
        &__vector2{
        z-index: 2;
        position: absolute;
        right: 4px;
        bottom: 34px;
        }
        &__elipse3{
        z-index: 2;
        position: absolute;
        right: 20px;
        top: 25px;
        }
        &__elipse4{
        z-index: 2;
         position: absolute;
         right: 20px;
         bottom: 28px;
        }
         &__vector4{
        z-index: 2;
        position: absolute;
        right: 85px;
        top: 18px;
        }
      }
 }
}
}
}
@media(max-width: 1170px){
    .features{
        &__cards{
           grid-template-columns: 570px;
           grid-template-rows: 1fr 1fr 1fr 1fr;
           row-gap: 30px;
           justify-content: center;
    }  
}
}
@media(max-width: 768px){
.features{
 .heading{
 &__title{
font-size: 60px;
padding: 50px 0 30px;
 }
 &__text{
font-weight: 600;
font-size: 24px;
padding-bottom: 40px;
max-width: 600px;
 }
 }
 &__cards{
    grid-template-columns: 400px;
    .cards{
        &__card{
            justify-content: center;
     .card{
        &__content{
          padding: 0 70px;
        }
         &__title{
        font-weight: 600;
        }
        &__text{
     font-weight: 500;
        }
        &__img{
            position: relative;
            margin: 0 auto;
        }
        
      }
 }
}
}
}
}
@media(max-width: 431px){
    .features{
     .heading{
     &__title{
    font-size: 36px;
    padding: 30px 0 20px;
     }
     &__text{
    font-weight: 500;
    font-size: 22px;
     }
     }
     &__cards{
        grid-template-columns: 320px;
        .cards{
            &__card{
         .card{
            &__content{
              max-width: 320px;
             padding: 0 30px;
            }
             &__title{
             padding: 30px 0 20px;
             }
          }
     }
    }
    }
    }
    }
.testimonials{
max-width: 1170px;
width: 100%;
margin-top: 120px;
    &__wrapp{
background: #CCDDFF;
border-radius: 50px;
position: relative;
    }
    &__title{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
text-align: center;
color: #4B5D68;
padding: 80px 0;
    }
    &__cards{
    max-width: 1030px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 100px;
    margin: 0 auto;
    padding-bottom: 80px;
    z-index: 4;
    .cards{
        &__card{
        display: flex;
        justify-content: space-between;
        background: #FFFFFF;
    border: 1px solid #9C69E2;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    z-index: 4;
        }
        &__john, &__hanna{
            position: absolute;
            width: 90px;
            height: 90px;
        border-radius: 45px;
        margin: 50px 0 0 30px;
        z-index: 3;
        }
        &__john{
            background-image: url(../img/rectangle44.png);
        }
        &__hanna{
        background-image: url(../img/rectangle441.png);   
        }
        &__name{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #212353;
    padding: 50px 0 0 135px;
        }
        &__link{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #9C69E2;
    padding: 2px 0 19px 135px;
        }
        &__text{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    padding: 0 30px 50px 135px;
        }
        }
    }
     &__vector1{
        position: absolute;
        transform: rotate(15deg);
        top: -15px;
        left: -50px;
         }
    &__elipse1{
    position: absolute;
        transform: rotate(-10deg);
        top: 185px;
        left: 235px;
         }
    &__vector2{
        position: absolute;
        transform: rotate(88deg);
        top: 50px;
        right: -145px;
         }
    &__elipse2{
    position: absolute;
    transform: rotate(-40deg);
    bottom: 20px;
        right: 490px;
         }
}
@media(max-width: 1170px){
    .testimonials{
            margin-top: 50px;
            &__title{
                padding: 50px 0;
                    }
            &__cards{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 30px;
            padding: 0 20px 60px;
        }
}
}
@media(max-width: 768px){
.testimonials{
margin-top: 20px;
    &__title{
font-weight: 600;
font-size: 36px;
padding: 30px 0;
    }
    .cards{
    &__name{
font-weight: 700;
font-size: 24px;
    }
    &__link{
font-weight: 600;
font-size: 18px;
    }
    &__text{
font-weight: 500;
font-size: 18px;
line-height: 160%;
color:black;
padding: 0 30px 50px 135px;
min-height: 131px;
    }
    }
    &__vector1{
        display: none;
         }
    &__elipse1{
        display: none;
         }
    &__vector2{
       display: none;
       }
    &__elipse2{
    display: none;
         }
}
}
@media(max-width: 470px){
    .testimonials{
         .cards{
            &__about{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__john, &__hanna{
                position: relative;
                margin: 20px auto 10px;
            }
        &__name{
    font-weight: 600;
    font-size: 22px;
    padding: 0;
        }
        &__link{
        padding: 10px 20px 0;
            }
            &__text{
        padding: 20px 30px;
        text-align: center;
            }
            }
    }
    }