@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-semibold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Work Sans";
  src: url(../fonts/Work-Sans-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Work Sans";
  src: url(../fonts/WorkSans-Regular.woff2);
  font-weight: 400;
}

.wrapper {
  background-color: #FFFFFF;
}

/* * Zero * */

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  touch-action: pan-x pan-y;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  max-width: 1170px;
  min-height: 100px;
  background: #FFFFFF;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.header__burger-menu {
  display: none;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: linear-gradient(to bottom, #000 20%, transparent 21%, transparent 40%, #000 41%, #000 60%, transparent 61%, transparent 80%, #000 81%);
  transition: 0.3s all linear;
}

.header__nav .nav__items {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.header__nav .nav__items a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
}

.header__nav .nav__items a:hover {
  color: #8A40EE;
  cursor: url(../img/cursor.svg), pointer;
}

.header__burger-menu_active {
  background: linear-gradient(45deg, transparent 45%, #000 46%, #000 55%, transparent 56%), linear-gradient(-45deg, transparent 45%, #000 46%, #000 55%, transparent 56%);
}

.header .button__click {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 210px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #9C69E2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

.header .button__click a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #212353;
}

.header .button__svg {
  stroke: #9C69E2;
}

.header .button__click:hover {
  background: #9C69E2;
  cursor: url(../img/cursor.svg), pointer;
  transition: all 1s ease;
}

.header .button__click:hover a {
  color: #FFFFFF;
  cursor: url(../img/cursor.svg), pointer;
}

.header .button__click:hover .button__svg {
  stroke: #FFFFFF;
}

.header_active {
  flex-direction: column;
  overflow: unset;
}

.header_active .header__logo-nav {
  gap: 50px;
  align-items: flex-start;
}

.header_active .header__logo-nav .header__logo {
  display: none;
}

.header_active .header__nav {
  display: flex;
  padding-bottom: 30px;
}

.header_active .header__nav .nav__items {
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.header_active .header__nav .nav__items a {
  font-weight: 600;
  font-size: 24px;
}

.header_active .button__click {
  display: none;
}

.first-screen {
  position: relative;
  min-height: 489px;
  margin-top: 100px;
}

.first-screen .content__title {
  max-width: 601px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
}

.first-screen .content__text {
  max-width: 370px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
  padding: 50px 0;
}

.first-screen .content__button {
  width: 210px;
  height: 60px;
  background: #9C69E2;
  border: 1px solid #9C69E2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  cursor: url(../img/cursor.svg), pointer;
  transition: all 1s ease;
}

.first-screen .content__button a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  cursor: url(../../src/img/cursor.svg), pointer;
}

.first-screen .content__button:hover {
  background: #8A40EE;
}

.first-screen .content__img {
  position: absolute;
  right: 15px;
  bottom: 0;
}

.about {
  margin-top: 100px;
  position: relative;
}

.about__wrapp {
  background: #FDE8F5;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
}

.about__img {
  padding: 75px 0 75px 70px;
}

.about__img img {
  width: 100%;
}

.about .content__title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  max-width: 500px;
  min-height: 100px;
  padding: 110px 70px 40px 0;
}

.about .content__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
  max-width: 500px;
  padding: 0 70px 0 0;
}

.features .heading__title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #212353;
  padding: 120px 0 50px;
}

.features .heading__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #4B5D68;
  padding-bottom: 80px;
  max-width: 528px;
  margin: 0 auto;
}

.features__cards {
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 50px;
}

.features__cards .cards__card {
  display: flex;
  justify-content: end;
  position: relative;
}

.features__cards .cards__card .card__search {
  background: #F0FAF9;
}

.features__cards .cards__card .card__hours {
  background: #F6F0FD;
}

.features__cards .cards__card .card__print {
  background: #FEF0F8;
}

.features__cards .cards__card .card__security {
  background: #EAF6FC;
}

.features__cards .cards__card .card__content {
  max-width: 400px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  padding: 0 70px 0 100px;
}

.features__cards .cards__card .card__title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  align-items: center;
  color: #212353;
  padding: 62px 0 20px;
  z-index: 3;
}

.features__cards .cards__card .card__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
  max-width: 230px;
  min-height: 180px;
  z-index: 3;
}

.features__cards .cards__card .card__link {
  padding: 20px 0 62px;
  z-index: 3;
}

.features__cards .cards__card .card__link a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #212353;
  cursor: url(../img/cursor.svg), pointer;
}

.features__cards .cards__card .card__svg {
  padding-left: 20px;
}

.features__cards .cards__card .card__img {
  position: absolute;
  left: 0;
  margin: 110px 0;
}

.features__cards .cards__card .card__elipse1 {
  z-index: 2;
  position: absolute;
  right: 120px;
  top: 70px;
}

.features__cards .cards__card .card__vector1 {
  z-index: 2;
  position: absolute;
  right: 37px;
  top: 30px;
}

.features__cards .cards__card .card__vector2 {
  z-index: 2;
  position: absolute;
  right: 4px;
  bottom: 34px;
}

.features__cards .cards__card .card__elipse3 {
  z-index: 2;
  position: absolute;
  right: 20px;
  top: 25px;
}

.features__cards .cards__card .card__elipse4 {
  z-index: 2;
  position: absolute;
  right: 20px;
  bottom: 28px;
}

.features__cards .cards__card .card__vector4 {
  z-index: 2;
  position: absolute;
  right: 85px;
  top: 18px;
}

.testimonials {
  max-width: 1170px;
  width: 100%;
  margin-top: 120px;
}

.testimonials__wrapp {
  background: #CCDDFF;
  border-radius: 50px;
  position: relative;
}

.testimonials__title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #4B5D68;
  padding: 80px 0;
}

.testimonials__cards {
  max-width: 1030px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 100px;
  margin: 0 auto;
  padding-bottom: 80px;
  z-index: 4;
}

.testimonials__cards .cards__card {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #9C69E2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  z-index: 4;
}

.testimonials__cards .cards__john,
.testimonials__cards .cards__hanna {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  margin: 50px 0 0 30px;
  z-index: 3;
}

.testimonials__cards .cards__john {
  background-image: url(../img/rectangle44.png);
}

.testimonials__cards .cards__hanna {
  background-image: url(../img/rectangle441.png);
}

.testimonials__cards .cards__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #212353;
  padding: 50px 0 0 135px;
}

.testimonials__cards .cards__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #9C69E2;
  padding: 2px 0 19px 135px;
}

.testimonials__cards .cards__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
  padding: 0 30px 50px 135px;
}

.testimonials__vector1 {
  position: absolute;
  transform: rotate(15deg);
  top: -15px;
  left: -50px;
}

.testimonials__elipse1 {
  position: absolute;
  transform: rotate(-10deg);
  top: 185px;
  left: 235px;
}

.testimonials__vector2 {
  position: absolute;
  transform: rotate(88deg);
  top: 50px;
  right: -145px;
}

.testimonials__elipse2 {
  position: absolute;
  transform: rotate(-40deg);
  bottom: 20px;
  right: 490px;
}

.footer {
  margin-top: 120px;
}

.footer__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__heading .heading {
  min-height: 90px;
}

.footer__heading .heading__title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  padding: 0 0 9px;
}

.footer__heading .heading__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

.footer__heading .heading__button {
  display: flex;
  gap: 30px;
}

.footer__heading .heading__button-1 {
  width: 210px;
  height: 60px;
  background: #F063B8;
  border: 1px solid #F063B8;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

.footer__heading .heading__button-1 a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  cursor: url(../../src/img/cursor.svg), pointer;
}

.footer__heading .heading__button-1:hover {
  background: #EB4BAB;
  cursor: url(../img/cursor.svg), pointer;
  transition: all 1s ease;
}

.footer__heading .heading__button-2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 210px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #9C69E2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

.footer__heading .heading__button-2 a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #212353;
}

.footer__heading .heading__button-svg {
  stroke: #9C69E2;
}

.footer__heading .heading__button-2:hover {
  background: #9C69E2;
  cursor: url(../img/cursor.svg), pointer;
  transition: all 1s ease;
}

.footer__heading .heading__button-2:hover a {
  color: #FFFFFF;
  cursor: url(../img/cursor.svg), pointer;
  transition: all 0.5s ease;
}

.footer__heading .heading__button-2:hover .heading__button-svg {
  stroke: #FFFFFF;
  transition: all 0.5s ease;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 0;
}

.footer__content .content__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  max-width: 300px;
  min-height: 231px;
}

.footer__content .content__contacts .contacts__logo {
  display: flex;
  gap: 20px;
}

.footer__content .content__contacts .contacts__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: #212353;
}

.footer__content .content__contacts .contacts__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__content .content__contacts .contacts__city {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
  max-width: 275px;
}

.footer__content .content__contacts .contacts__site {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}

.footer__content .content__contacts .contacts__tel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}

.footer__content .content__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 168px;
  max-width: 670px;
  min-height: 240px;
}

.footer__content .content__nav .nav__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  padding: 0 0 30px;
}

.footer__content .content__nav .nav__list li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
  gap: 10px;
}

.footer__content .content__nav .nav__list li:hover {
  color: #8A40EE;
  cursor: url(../../src/img/cursor.svg), pointer;
}

.footer__content .content__nav .nav__media {
  padding-bottom: 40px;
}

.footer__content .content__nav .nav__icons {
  display: flex;
  width: 180px;
  height: 50px;
  justify-content: space-between;
}

.footer__content .content__nav .nav__face,
.footer__content .content__nav .nav__twitter,
.footer__content .content__nav .nav__insta {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #565656;
  background: #212353;
  opacity: 0.1;
  border-radius: 45px;
  cursor: url(../img/cursor.svg), pointer;
  transition: all 1s ease;
}

.footer__content .content__nav .nav__face:hover {
  color: #3B5998;
  border: 1px solid #3B5998;
  background: #FFFFFF;
  opacity: 1;
}

.footer__content .content__nav .nav__twitter:hover {
  color: #00ACEE;
  border: 1px solid #00ACEE;
  background: #FFFFFF;
  opacity: 1;
}

.footer__content .content__nav .nav__insta:hover {
  color: #C13584;
  border: 1px solid #C13584;
  background: #FFFFFF;
  opacity: 1;
}

.footer__copyring {
  padding: 109px 0 120px;
  max-width: 275px;
}

.footer__copyring .copyring__content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}

@media (max-width: 1170px) {
  .features__cards {
    grid-template-columns: 570px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    justify-content: center;
  }

  .testimonials {
    margin-top: 50px;
  }

  .testimonials__title {
    padding: 50px 0;
  }

  .testimonials__cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 0 20px 60px;
  }
}

@media (max-width: 1140px) {
  .first-screen {
    margin-top: 50px;
    align-items: center;
  }

  .first-screen .content__title {
    margin: 0 auto;
    text-align: center;
  }

  .first-screen .content__text {
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .first-screen .content__button {
    margin: 0 0 20px 0px;
  }

  .first-screen .content__img {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .first-screen .content__img img {
    width: 100%;
  }
}

@media (max-width: 980px) {
  .about {
    margin-top: 60px;
  }

  .about__wrapp {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .about__img {
    padding: 10px 15px;
  }

  .about .content__title {
    text-align: center;
    padding: 30px 15px;
  }

  .about .content__text {
    text-align: center;
    font-size: 22px;
    padding: 0px 10px;
  }
}

@media (max-width: 950px) {
  .footer__content .content__nav {
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
  }

  .footer__content .content__nav .nav__title {
    font-weight: 600;
    font-size: 24px;
  }

  .footer__content .content__nav .nav__list li {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .header {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    min-height: 76px;
  }

  .header__burger-menu {
    display: block;
    margin-left: 5px;
  }

  .header__nav {
    display: none;
  }

  .first-screen {
    margin-top: 30px;
  }

  .first-screen .content__title {
    font-size: 48px;
  }

  .first-screen .content__text {
    font-size: 20px;
    padding: 30px 0;
  }

  .about {
    margin-top: 30px;
  }

  .about .content__title {
    font-weight: 600;
    font-size: 36px;
  }

  .about .content__text {
    font-size: 20px;
    width: 100%;
    color: black;
  }

  .features .heading__title {
    font-size: 60px;
    padding: 50px 0 30px;
  }

  .features .heading__text {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 40px;
    max-width: 600px;
  }

  .features__cards {
    grid-template-columns: 400px;
  }

  .features__cards .cards__card {
    justify-content: center;
  }

  .features__cards .cards__card .card__content {
    padding: 0 70px;
  }

  .features__cards .cards__card .card__title {
    font-weight: 600;
  }

  .features__cards .cards__card .card__text {
    font-weight: 500;
  }

  .features__cards .cards__card .card__img {
    position: relative;
    margin: 0 auto;
  }

  .testimonials {
    margin-top: 20px;
  }

  .testimonials__title {
    font-weight: 600;
    font-size: 36px;
    padding: 30px 0;
  }

  .testimonials .cards__name {
    font-weight: 700;
    font-size: 24px;
  }

  .testimonials .cards__link {
    font-weight: 600;
    font-size: 18px;
  }

  .testimonials .cards__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: black;
    padding: 0 30px 50px 135px;
    min-height: 131px;
  }

  .testimonials__vector1 {
    display: none;
  }

  .testimonials__elipse1 {
    display: none;
  }

  .testimonials__vector2 {
    display: none;
  }

  .testimonials__elipse2 {
    display: none;
  }

  .footer {
    margin-top: 60px;
  }

  .footer__heading {
    flex-direction: column;
    gap: 30px;
  }

  .footer__heading .heading__title {
    text-align: center;
  }

  .footer__heading .heading__subtitle {
    text-align: center;
    font-size: 22px;
  }

  .footer__heading .heading__button {
    gap: 10px;
  }

  .footer__content {
    flex-direction: column;
    gap: 30px;
    padding: 50px 0 0;
  }

  .footer__content .content__contacts {
    margin: 0 auto;
    gap: 20px;
  }

  .footer__content .content__contacts .contacts__name {
    font-size: 24px;
  }

  .footer__content .content__contacts .contacts__city {
    font-weight: 600;
    text-align: center;
  }

  .footer__content .content__contacts .contacts__site {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }

  .footer__content .content__contacts .contacts__tel {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }

  .footer__content .content__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__content .content__nav .nav__title {
    font-size: 30px;
    padding: 0 0 10px;
    text-align: center;
  }

  .footer__content .content__nav .nav__list li {
    font-weight: 500;
    font-size: 24px;
  }

  .footer__content .content__nav .nav__media {
    padding-bottom: 20px;
  }

  .footer__copyring {
    padding: 70px 0 40px;
    margin: 0 auto;
  }

  .footer__copyring .copyring__content {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 470px) {
  .first-screen .content__title {
    font-size: 36px;
  }

  .first-screen .content__text {
    font-size: 18px;
  }

  .testimonials .cards__about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials .cards__john,
  .testimonials .cards__hanna {
    position: relative;
    margin: 20px auto 10px;
  }

  .testimonials .cards__name {
    font-weight: 600;
    font-size: 22px;
    padding: 0;
  }

  .testimonials .cards__link {
    padding: 10px 20px 0;
  }

  .testimonials .cards__text {
    padding: 20px 30px;
    text-align: center;
  }

  .footer__heading .heading__button {
    flex-direction: column;
  }

  .footer__content {
    flex-direction: column;
    gap: 30px;
    padding: 50px 0 0;
  }

  .footer__content .content__nav .nav__title {
    font-size: 24px;
  }

  .footer__content .content__nav .nav__list li {
    font-weight: 400;
    font-size: 22px;
  }

  .footer__copyring {
    padding: 40px 0 30px;
  }
}

@media (max-width: 460px) {
  .about {
    margin-top: 15px;
  }

  .about .content__title {
    font-size: 30px;
  }

  .about .content__text {
    display: block;
    font-size: 20px;
    color: black;
  }
}

@media (max-width: 431px) {
  .features .heading__title {
    font-size: 36px;
    padding: 30px 0 20px;
  }

  .features .heading__text {
    font-weight: 500;
    font-size: 22px;
  }

  .features__cards {
    grid-template-columns: 320px;
  }

  .features__cards .cards__card .card__content {
    max-width: 320px;
    padding: 0 30px;
  }

  .features__cards .cards__card .card__title {
    padding: 30px 0 20px;
  }
}

@media (max-width: 400px) {
  .header__logo {
    display: none;
  }
}