.pricing{
  &__title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #262A3F;
    span{
      color: #85BBB1;
    }
  }
  &__text{
    max-width: 400px;
    padding: 20px 0 50px;
  }
  &__cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
  }
  &__card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 340px;
    padding: 30px 40px;
    .card{
    &__image{
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    &__text{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;   
        opacity: 0.8;
        max-width: 290px;
    }
    &__name{
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.08em;
        color: #FFFFFF;
        z-index: 1;
    }
  }
  &:hover {
      transform: scale(1.1); 
      transition: all 0.3s ease-in-out;
      box-shadow: 3px 2px 15px 5px rgba(0,0,0,0.5);
    }
  &:hover .text{
    z-index: 2;
  }
  &:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: url(../../src/img/pricing/overlay.png);
    }
}
}
@media (max-width: 1170px){
.pricing{
  &__cards{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0 40px;
  }
  &__card{
    align-items: center;
    gap:5px;
    padding: 15px 15px;
}
  }
}
@media (max-width: 500px){
  .pricing{
  &__cards{
    row-gap: 20px;
    padding: 0 20px;
  }
}
}