.projects{
    padding: 100px 0 150px;
    &__title{
        .title{
           &__line{
            width: 100px;
            border: 1px solid #2C4058;
            margin: 0 auto;
           }
           &__text{
            font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 54px;
text-align: center;
color: #2C4058;
padding: 30px 0 90px;
           }
        }
    }
    &__project-1{
        max-width: 1385px;
        display: flex;
        justify-content: space-between;
        .project-1{
            position: relative;
            &__image{
                .image{
                    &__bg{
                        position: absolute;
width: 585px;
height: 470px;
background: #55B7FF;
                    }
                    &__img{
                        position: relative;
width: 630px;
height: 470px;
margin:57px 0 0 215px;
                    }
                }
            }
            &__content{
                .content{
                    &__subtitle{
                        font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
color: #2C4058;
padding: 151px 0 0 ;
                    }
                    &__title{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 44px;
                        line-height: 44px;
                        color: #2C4058;    
                    }
                    &__text{
                        font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #2C4058;
max-width: 470px;
padding: 19px 0 40px;
                    }
                    &__button{
                        box-sizing: border-box;
width: 190px;
height: 50px;
border: 1px solid #2C4058;
background: #fff;
                    }
                    &__button a{
                        font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
                    }
                    &__button:hover{
                        background: blue;   
                    }
                    &__button:hover a{
font-weight: 700;
font-size: 16px;
color: #fff;
transition:all 1s ease;
                    }
                    &__nav{
                        display: flex;
                        gap:10px;
                        padding: 60px 0 26px 0;
                        .nav{
                            &__text{
                                font-family: 'Open Sans';
                                font-style: italic;
                                font-weight: 400;
                                font-size: 15px;
                                line-height: 20px;
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
    }
     &__project-2{
        max-width: 1385px;
        display: flex;
        justify-content: space-between;
        margin:120px 0 0 215px;
        position: relative;
        .project-2{
            &__content{
                .content{
                    &__subtitle{
                        font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
color: #2C4058;
padding: 151px 0 0 ;
                    }
                    &__title{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 44px;
                        line-height: 44px;
                        color: #2C4058;    
                    }
                    &__text{
                        font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #2C4058;
max-width: 470px;
padding: 19px 0 40px;
                    }
                    &__button{
                        box-sizing: border-box;
width: 190px;
height: 50px;
border: 1px solid #2C4058;
background: #fff;
                    }
                    &__button a{
                        font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
                    }
                    &__button:hover{
                        background: blue;   
                    }
                    &__button:hover a{
font-weight: 700;
font-size: 16px;
color: #fff;
transition:all 1s ease;
                    }
                    &__nav{
                        display: flex;
                        gap:10px;
                        padding: 60px 0 26px ;
                        .nav{
                            &__text{
                                font-family: 'Open Sans';
                                font-style: italic;
                                font-weight: 400;
                                font-size: 15px;
                                line-height: 20px;
                                color: #000000;
                            }
                        }
                    }
                }
            }
            &__image{
                max-width: 845px;
    position: relative;
                .image{
                    &__bg{
                        position: absolute;
                        right: 0;
width: 585px;
height: 470px;
background: #7E5AFF;
                    }
                    &__img{
                        position: relative;
width: 630px;
height: 470px;
margin: 57px 215px 0 0;
                    }
                }
            }
        }
    }
}
@media(max-width: 1600px){
.section-1{
padding: 0 15px;
}
.projects{
    padding: 50px 0 50px;
    &__title{
        .title{
           &__text{
padding: 30px 0 50px;
           }
        }
    }
    &__project-1{
        flex-direction: column-reverse;
        margin: 0 auto;
        .project-1{
            &__image{
                margin: 0 auto;
            }
            &__content{
                display: flex;
                flex-direction: column;
                align-items: center;
                .content{
                    &__subtitle{
font-size: 30px;
padding: 50px 0 30px ;
                    }
                    &__text{
                        text-align: center;
font-size: 24px;
max-width: 800px;
padding: 20px 20px 30px;
                    }
                    &__button a{
font-size: 16px;
                    }
                    &__nav{
                        padding: 30px 0 20px 0;
                        .nav{
                            &__text{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    &__project-2{
        flex-direction: column;
        margin: 0 auto;
        .project-2{
            &__content{
                display: flex;
                flex-direction: column;
                align-items: center;
                .content{
                    &__subtitle{
font-size: 30px;
padding: 50px 0 30px ;
                    }
                    &__text{
                        text-align: center;
font-size: 24px;
max-width: 800px;
padding: 20px 20px 30px;
                    }
                    &__button a{
font-size: 16px;
                    }
                    &__nav{
                        padding: 30px 0 20px 0;
                        .nav{
                            &__text{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
           &__image{
           margin: 0 auto;
           }
        }
    }
}
}
@media(max-width: 920px){
.projects{
    &__project-1{
    margin-bottom: 70px;
        .project-1{
           &__image{
           position: relative;
            height: 290px;
    margin: 0 auto;
    width: 407px;
                .image{
                    &__bg{
width: 280px;
height: 235px;
                    }
                    &__img{
 width: 315px;
height: 235px;
margin: 47px 0 0 93px;
                    }
                }
            }
            &__content{
                .content{
                    &__title{
                        font-weight: 600;
                        font-size: 36px; 
                    }
            }
}
   }
   }
   
   &__project-2{
        .project-2{
           &__image{
            height: 290px;
    margin: 0 auto;
    width: 407px;
                .image{
                    &__bg{
                       position: absolute;
margin:0 auto;
width: 300px;
height: 235px;
                    }
                    &__img{
width: 315px;
height: 235px;
   margin: 47px 0 0;
   }
  }
}
    &__content{
         .content{
            &__title{
              font-weight: 600;
               font-size: 36px; 
               }
            }
}
}
}
}
}
@media(max-width: 450px){
.projects{
    padding: 30px 0;
&__title{
        .title{
           &__text{
font-weight: 600;
font-size: 36px;
padding: 20px 0 40px;
           }
        }
    }
&__project-1{
        .project-1{
           &__image{
            height: 225px;
             width: 290px;
                .image{
                    &__bg{
                     width: 250px;
                     height: 200px;
                    }
                    &__img{
                        height: 200px;
                         width: 250px;
                        margin: 25px 0 0 45px;
                    }
                    &__picture img{
                        width: 250px;
                        height: 200px;
                    }
                }
            }
            &__content{
                .content{
                   &__subtitle{
                 font-size: 24px;
                 padding: 10px 0 15px;
        }
                    &__title{
                        font-weight: 600;
                        font-size: 24px; 
                    }
                    &__text{
padding: 19px 15px 30px;
                    }
                    &__nav{
                        padding: 30px 0 26px ;
                        .nav{
                            &__text{
                                font-weight: 300;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
   }
   } 
&__project-2{
    .project-2{
       &__image{
        height: 225px;
        width: 290px;
         .image{
           &__bg{
          width: 250px;
         height: 200px;
         }
        &__img{
            width: 250px;
            height: 200px;
        margin: 27px 0 0;
   }
   &__picture img{
    width: 250px;
    height: 200px;
}
  }
}
&__content{
    .content{
        &__subtitle{
           font-size: 24px;
    padding: 10px 0 15px;
        }
        &__title{
            font-weight: 600;
            font-size: 24px; 
        }
        &__text{
        padding: 19px 15px 30px;
        }
        &__nav{
            padding: 30px 0 26px ;
            .nav{
                &__text{
                    font-weight: 300;
                    font-size: 12px;
                }
            }
        }
    }
}
}
}
}
}