.header{
    background: #0a0a24;
    .header-wrapper{
        margin: 0 auto;
        display: flex; 
        justify-content: space-between;
    min-height: 100px;
    align-items: center;
    }
    &__logo img{
        width: 240px;
        margin: 0 0 0 30px;
    }
    &__social{
        display: flex;
        gap: 20px;
        padding: 0 10px 0;
    }
    &__link a{
        border: 1px solid #0ff;
    width: 50px;
    height: 50px;
    font-size: 34px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
    background: #b32588;
    }
    &__link a:hover{
        border: 1px solid #b32588;
    color:#b32588;
    background:aqua;
    font-size: 42px;
    transition: all 0.2s ease ;
    }
    &__burger-menu{
        display: none;
        position: absolute;
        right: 20px;
        top: 25px;
        width: 60px;
        height: 50px;
        cursor: pointer;
        background: linear-gradient(to bottom,#fff 20%, transparent 21%, transparent 40%,#fff 41%, 
        #fff 60%, transparent 61%, transparent 80%, #fff 81%);
        transition: 0.3s all linear;
    }
    &__burger-menu_active{
        background: linear-gradient(45deg, transparent 45%, #fff 46%, #fff 55%, transparent 56%),
        linear-gradient(-45deg, transparent 45%,#fff 46%, #fff 55%, transparent 56%);
    }     
}
.header_active{
    .header__nav{
        display: block;
      } 
}
@media(max-width:950px){
    .header{
        background: #0a0a24;
        &__logo img{
            width: 200px;
            margin: 0 0 0 10px;
        }
        &__nav ul{
            font-size:24px;
            gap: 20px;
          }
          &__social{
            gap: 10px;
        }
    }  
}
@media(max-width:800px){
    .header{
        background: #0a0a24;
        .header-wrapper{
        align-items: flex-start;
        }
        &__logo img{
            width: 300px;
            margin: 30px 0 0 10px;
        }
        &__nav{
            display: none;
            ul{
                flex-direction: column;
                font-size: 30px;
                gap: 30px;
                padding: 10px 100px 0 0;
           font-size: 36px;
           background: #8d276e;
            }
          }
          &__social{
            display: none;
        }
        &__burger-menu{
            display: block;
        }    
    }
    .header_active{
    &__nav ul{
        display: block;
      } 
}
}
@media(max-width:580px){
    .header{
        &__logo img{
            width: 200px;
        }
        &__nav{
            ul{
                gap: 20px;
                padding: 10px 100px 0 0;
            }
          }
    }
}
@media(max-width:470px){
    .header{
        &__logo img{
            width: 160px;
        }
        &__nav{
            ul{
                font-size: 24px;
                gap: 30px;
                padding: 10px 80px 0 0;
            }
          }
    }

}


