.main{
    width: 100%;
    min-height: 500px;
    background: url(../../../src/assets/img/bg-forsa.jpg);
    background-size: cover;
    // background:#3ba2a2;
    .main-wrapper{
        margin: 0 auto;
    }
}
// @media(max-width:1350px){
//         .main-wrapper{
//            padding: 0 15px;
// }
// }